body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.meme-image {
    width: 700px;
    height: 700px;
    object-fit: cover;
}
